* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #718FC5;
    font-family: "montserrat", sans-serif;
    height: 100vh;
  }
  
  .configurar_perfil {
    height: 100vh;
    width: 50%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #E3EAF8;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 60px 20px 120px;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 465.05px;
    margin-bottom: 20px;
  }
  
  .slogan {
    text-align: center;
    font-size: 20px;
    color: #1E2F50;
    font-weight: 500;
    margin: 63px;
  }
  
  .pregunta {
    font-size: 25px;
    color: #1F2F50;
    margin: 62px 0 20px 0;
    font-weight: 500;
  }

  .pregunta_voluntari {
    font-size: 25px;
    color: #1F2F50;
    margin: 62px 0 0px 0;
    font-weight: 500;
  }

  .com_registrar{
    font-size: 20px;
    color: #1F2F50;
    margin: 30px 0 20px 0;
    font-weight: 500;
  }
  
  .botones {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
  }
  
  .btn {
    font-family: "montserrat", sans-serif;
    background-color: #718FC5;
    color: white;
    font-size: 30px;
    font-weight: 500;
    border-radius: 12px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* quitar subrayado */
  }
  
  .btn:hover {
    background-color: #1E2F50;
  }
  
  .btn img {
    height: 57px;
  }
  
  .ometre {
    position: absolute;
    top: 30px;
    right: 43px;
    color: #718FC5;
    text-decoration: underline;
    font-weight: bold;
    font-size: 0.9rem;
  }
  