*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #B7C5E7;
    overflow: hidden;  
    color: rgb(255, 255, 255);
    font-family: "montserrat", sans-serif;
}

/* 

--------Dazzle Unicase Thin
font-family: "dazzle-unicase", sans-serif;
font-weight: 200;
font-style: normal;

--------Dazzle Unicase Light
font-family: "dazzle-unicase", sans-serif;
font-weight: 300;
font-style: normal;

--------Dazzle Unicase Medium
font-family: "dazzle-unicase", sans-serif;
font-weight: 500;
font-style: normal;

--------Dazzle Unicase Bold
font-family: "dazzle-unicase", sans-serif;
font-weight: 700;
font-style: normal;

*/

header {
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  box-shadow: 0px 13px 31px 1px rgba(0,0,0,0.1);
}

.logo{
  width: 150px;
  margin: 16px 30px;

}

.icono_inicio{
  margin: 70px auto 0;
  display: flex;
}


.barramenu{
  height: 100%;
  width: 220px;
  background-color: white;
  position: fixed;
}

.botonesmenu{
  height: 70px;
  width: 100%;
  background-color: white;
  display: flex;
  line-height: 70px;
  color: #1F2F50;
  margin-bottom: 20px;
}

.botonesmenu svg{
  margin: auto 20px auto 30px;
  fill: #1E2F50;
}


.botonesmenu:hover{
  color: #718FC6;
  fill: #718FC6;
  cursor: pointer;
}

.botonesmenu:active{
  background-color: #1F2F50;
  color: white;
  fill: #ffffff;
 }

.botonesmenu H3{
  font-size: 14PX;
  font-weight: 600;
}



.logo{
  width: 150px;
  margin: 16px 30px;

}

.icono_inicio{
  margin: 70px auto 0;
  display: flex;
}

header input[type=text] {
  padding: 6px;
  width: 40%;
  height: 25px;
  border: none;
  margin: auto auto;
  font-size: 17px;
  border-style: solid;
  border-color: rgb(31, 48, 81);
  border-radius: 10px;
}

.dropbtn {
  background-color: #ffffff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn img{
  height: 33px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right:0px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover .dropbtn{
  background-color: #ffffff;
}

.search-container {
  position: relative; 
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
}

.search-container input {
  padding: 6px;
  width: 40%;
  height: 30px;
  border: none;
  font-size: 17px;
  border-style: solid;
  border-color: rgb(31, 48, 81);
  border-radius: 10px;
}

.search-results {
  display: none; 
  position: absolute;
  top: 40px; 
  left: 50%;
  transform: translateX(-50%); 
  width: 40%;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 10;
}

.search-results p {
  padding: 10px;
  margin: 0;
  color: #1E2F50;
  cursor: pointer;
}

.search-results p:hover {
  background-color: #f1f1f1;
}



.content{
  height: 1020px;
  padding: 50px;
  color: #1F2F50;
  margin-left: 220px;
  overflow: scroll;
}

/* ------------------- COSAS INDEX */


.voluntariat_proper h2{
  font-size: 25px;
  margin-top: 30px;
  color: #1E2F50;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.nom_entitat{
  margin-top: 20px;
  color: #1E2F50;
  font-size: 25px;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.contingut_volun_proper a{
  text-decoration-color: #1E2F50;
}

.sub_data{
  margin-top: 20px;
  color: #1E2F50;
  font-size: 20px;
  font-weight: 400;
}

.titol_volu{
  margin-top: 20px;
  color: #1E2F50;
  font-size: 20px;
  font-weight: 600;
}

.desc_volu{
  margin-top: 6px;
  color: #1E2F50;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.foto_valoracio{
  width: 170px;
  margin-top: 6px;
}

.puntspositius{
  margin: 0 auto;
  text-align: center;
}


.categoria{
  width: 150px;
  background-color: white;
  border-color: #1E2F50;
  border-style: solid;
  margin: 10px auto auto;
  display:inline-block;
  border-radius: 10px;
}

.categoria p{
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
}

.inscribir{
  width: 290px;
  height: 45px;
  background-color: #1E2F50;
  margin: 10px auto;
  border-radius: 10px;
  color: white;
}

.inscribir.primero{
  margin: 100px auto 10px;
}

.inscribir p{
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
}



/* ------------------- COSAS INDEX */


.mostra_perfil_entitat{
  width: 80%;
  padding-top: 1px;
  min-width: 800px;
  height: auto;
  background-color: #E3EAF8;
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 40px;
  box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.1);
}

.mostra_perfil_entitat .foto_entitat{
  height: 250px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.mostra_perfil_entitat .foto_entitat_ajust{
  height: 250px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.contingut_volun_proper{
  margin: 0px 60px 30px 60px;
}

.botonesmenu.active {
  background-color: #1F2F50;
  color: white;
}

.botonesmenu.active svg {
  fill: white;
}


.categories{
  margin: 0 auto;
  text-align: center;
}

.categoria_feed{
  width: 20%;
  height: 45px;
  background-color: white;
  border-color: #1E2F50;
  border-style: solid;
  margin: 10px auto auto;
  display:inline-block;
  border-radius: 10px;
}

.categoria_feed:hover{
  width: 20%;
  height: 45px;
  background-color: white;
  border-color: #1E2F50;
  border-style: solid;
  margin: 10px auto auto;
  display:inline-block;
  border-radius: 10px;
}

.categoria_feed p{
  font-size: 12px;
  line-height: 44px;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
}

.titol_feed{
  font-size: 30px;
  color: #1E2F50;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 30px;
  text-align: center;
}

.geeveets_recomanat{
  margin-top: 20px;
  height: 164px;
  background-color: white;
  border-radius: 10px;
}

.foto_recomanat{
  height: 100px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  filter: brightness(80%);
}

.foto_entitat_ajust{
  filter: brightness(80%);
}

.geeveets_recomanat .desc_geeveet_rec{
  font-size: 17px;
  color: #1E2F50;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 6px;
  margin-left: 10px;
}

.geeveets_cajita{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px; 
}

a {
  text-decoration: none;
}

.botonesmenu:active{
  background-color: #1F2F50;
  color: white;
  fill: #ffffff;
 }

 .ajust{
  position: absolute;
  margin-top: 15px;
  margin-left: -40px;
  z-index: 50;
}

.categoria_ajust{
  height: 40px;
  width: 150px;
  background-color: white;
  border-color: #1E2F50;
  border-style: solid;
  margin: 10px auto auto;
  display:inline-block;
  border-radius: 10px;
}



.categoria_perfil{
  width: 150px;
  height: 45px;
  background-color: #1E2F50;
  border-color: #1E2F50;
  border-style: solid;
  margin: 10px auto auto;
  display: inline-block;
  border-radius: 19px;
}


.categoria_perfil p{
  font-size: 12px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
  color: white;
}


.questionari_voluntari_crea{
  margin: 0 auto; /* Esto ya lo tienes, ayuda a centrar si hay un ancho definido */
  display: flex;
  gap: 34px;
  justify-content: center; /* <-- Esto es lo que necesitas para centrar los hijos */
  width: fit-content; /
}

.questionari_voluntari_crea h2{
  text-align: left;
  margin: 18px  0 auto 18px;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: #1E2F50;
}

.questionari_voluntari_crea h2{
  text-align: left;
  margin: 18px  0 auto 18px;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: #1E2F50;
}

.formulario_voluntario_pregunta p {
  margin: 12px 10px 0 20px;
  opacity: 60%;
  color: #B5B5B5;
}

.formulario_voluntario_pregunta {
  width: 355px;
  height: 50px;
  background-color: #fff;
  margin: 6px auto;
  border-radius: 15px;
  display: flex;
  border-color: #1E2F50;
  border-style: solid;
}

.formulario_voluntario_foto {
  width: 355px;
  height: 180px;
  background-color: #fff;
  margin: 6px 0px 18px 0px;
  border-radius: 15px;
  fill: #1E2F50;
  display: flex;
  border-color: #1E2F50;
  border-style: solid;
}

.categoria_ajust h5 {
  font-size: 12px;
  line-height: 9px;
  text-align: center;
  font-family: "montserrat", sans-serif;
  margin: 16px auto;
  font-weight: bold;
}



.categoria h5 {
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  font-family: "montserrat", sans-serif;
  margin: 16px auto;
  font-weight: bold;
}

.formulario_voluntario_foto svg {
  margin: 15px 20px;
  fill: #1E2F50;
}

.voluntariat_proper{
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.contenidor_categories {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 355px;
}

.textarea_motivo {
  min-height: 100px;
  width: 100%;
  line-height: 1.5;
}

.boton_guardar {
  margin: 20px auto 0 auto; /* Centra horizontalmente */
  padding: 10px 20px;
  background-color: #1E2F50;
  color: white;
  max-width: 20%;
  border-radius: 10px;
  cursor: pointer;
}

.boton_guardar H5{
  font-size: 12px;
  line-height: 8px;
  text-align: center;
  font-family: "montserrat", sans-serif;
  margin: 16px auto;
  font-weight: bold;
  color: white;
}

.subtitol_feed{
  font-size: 20px;
  color: #1E2F50;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  font-style: normal;
  text-align: center;
}

.cosaentitat{
  margin: 10px 60px 120px 60px;
}

.geeveets_cajita_custom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  justify-items: center;
}

.geeveets_cajita_custom img {
  max-width: 300px;
  width: 100%;
  margin-top: 10px;
  height: auto;
  display: block;
}